{%capture heading%}{{-page.heading-}}{%endcapture%}
{%if heading contains "|" %}{% assign headingsplit = heading | split: "|" %}{%capture heading%}{% for portion in headingsplit %}<sup style="color:gray;">{{ site.lexicalentry4letternumbering | slice: forloop.index}}</sup>{{portion}}{%if forloop.last %}{%else%}, {%endif%}{%endfor%}{%endcapture%}{%endif%}
{%assign morphology = page.morphology | split: "|" %}{%capture morphology%}{% for portion in morphology %}{%if morphology.size > 1%}<strong><sup class="ss g">{{ site.lexicalentry4letternumbering | slice: forloop.index}}</sup></strong>{%endif%}{% assign morphs = portion | split: ";"%}{% for morph in morphs %}<a title="{{site.data.morphologycodes | where: "key", morph | first | map: "fulldescription"}}"><em>{{site.data.morphologycodes | where: "key", morph | first | map: "value"}}</em></a>{% unless forloop.last %} + {%endunless%}{% endfor %} {% endfor %}{%endcapture%}

{%capture entrycontent%}{{-page.entrycontent-}}{%endcapture%}
{%if entrycontent contains "|" %}{% assign entrycontentsplit = entrycontent | split: "|" %}{%capture entrycontent%}{% for portion in entrycontentsplit %} {% unless forloop.first%}<br>{%endunless%}<span style="position:absolute;left:-2rem;padding-top:.6rem;"><strong class="ss g bis">{{ site.lexicalentry4letternumbering | slice: forloop.index}}</strong></span>{{-portion-}}{%endfor%}{%endcapture%}{%endif%}


<!DOCTYPE html>
{% include head.html %}
<p style="text-align:center"></p>
<div style="left:-5.5rem;position: absolute;top:3.3rem;"><a class="shadow" id="prev" href="/w/{{page.preventry}}.html ">&laquo;</a> {{page.strongNumber}} 
<a class="shadow" id="next" href="/w/{{page.nextentry}}.html ">&raquo;</a></div>
<h1>{{page.phonemes}} <span id="bh" dir="rtl">{{page.hebWord}}</span> ‘{{heading}}’ <span id="gg" style="font-size: 65%; font-family: EB Garamond;font-weight: normal;">({{-site.data.fulllangnames[page.lang]-}})</span></h1>
<p><span id="gg">{{site.lexicalentry1etymology}}:</span> {{page.etymDesc}}{%if page.etym1 %} | <span id="gg">{{site.lexicalentry2roots}}:</span> <a class="shadow" href="/w/{{-page.etym1-}}"><span id="bh">{{-page.etymWord1-}}</span></a>
{%if page.etym2 %}<a class="shadow" href="/w/{{-page.etym2-}}"><span id="bh">{{-page.etymWord2-}}</span></a>{%endif%}
{%if page.etym3 %}<a class="shadow" href="/w/{{-page.etym3-}}"><span id="bh">{{-page.etymWord3-}}</span></a>{%endif%}
{%endif%}
{%if page.variants %} | <span id="gg">{{site.lexicalentry3variants}}:</span> {{page.variants}}
{% endif %}{{page.placeholder3}}</p>
<p><span class="ss"><strong>{{page.phonemes}} </strong></span>{%if morphology %}{{morphology}}{%endif%}<br>{{entrycontent}}</p>
</article>
<div style="display: flex;"><p style="margin-bottom:27px;display: flex;flex-wrap: wrap;flex-direction:row;line-height:1.5rem"><span id="toc" class="ss">{{site.lexicalentry5mentionedin}} </span>{%assign sn=page.strongNumber | minus: 1%}{{site.data.precompiled_links[sn]|map: "links"}}
</p></div>
{% include footer.html %}
</body></html>
